@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);




#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .mbr-brand__name a {
  font-size: 19px;
  font-family: 'Oswald', sans-serif;
}
#menu-0 .mbr-navbar__items a {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
}
#slider-2 H1 {
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
}
#slider-2 P {
  font-family: 'Oswald', sans-serif;
  font-size: 23px;
}




#menu-4 .mbr-brand__name {
  font-size: 16px;
}
#menu-4.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-4 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-4 .mbr-brand__name a {
  font-size: 19px;
  font-family: 'Oswald', sans-serif;
}
#menu-4 .mbr-navbar__items a {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
}
#content5-6 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 60px;
  font-family: 'Oswald', sans-serif;
}
#content5-6 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-6 .mbr-article {
  color: #fff;
}
#content5-6 .mbr-article P {
  font-family: 'Oswald', sans-serif;
  font-size: 23px;
}



#menu-b .mbr-brand__name {
  font-size: 16px;
}
#menu-b.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-b .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-b .mbr-brand__name a {
  font-size: 19px;
  font-family: 'Oswald', sans-serif;
}
#menu-b .mbr-navbar__items a {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
}
#form1-c .mbr-header__text {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
}



#menu-9 .mbr-brand__name {
  font-size: 16px;
}
#menu-9.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-9 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-9 .mbr-brand__name a {
  font-size: 19px;
  font-family: 'Oswald', sans-serif;
}
#menu-9 .mbr-navbar__items a {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
}
#testimonials1-a .mbr-section__header {
  font-size: 60px;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#testimonials1-a .mbr-reviews__author-name {
  color: #ffffff;
}




#menu-7 .mbr-brand__name {
  font-size: 16px;
}
#menu-7.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-7 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-7 .mbr-brand__name a {
  font-size: 19px;
  font-family: 'Oswald', sans-serif;
}
#menu-7 .mbr-navbar__items a {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
}
#content5-8 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 60px;
  font-family: 'Oswald', sans-serif;
}
#content5-8 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-8 .mbr-article {
  color: #fff;
}
#content5-8 .mbr-article P {
  text-align: center;
  font-size: 23px;
  font-family: 'Oswald', sans-serif;
}
